<div id="photo">
  <a href="<%= photo[:photo_page_url] %>">
    <p class="image"><img src="<%= photo[:large_img_url] %>" alt="<%= photo[:title] %>"/></p>
  </a>
    <p class="title"><%= photo[:title] %></p>
    <p class="description"><%= photo[:description] %></p>
</div>