<div id="photo">
  <a href="<%= small_photo[:photo_page_url] %>">
    <p class="image"><img src="<%= small_photo[:medium_img_url] %>" alt="<%= small_photo[:title] %>"/></p>
  </a>
    <p class="title"><%= small_photo[:title] %></p>
    <p class="description"><%= small_photo[:description] %></p>
</div>